body{
    background-color: black; 
}
.main-form {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}
form div{
    text-align: end;
}
form {
    text-align: center;
}

.post{
    background-color: aqua;
    
}

.comment {
    background-color: green;
    margin: 10px;
}